Flask==0.10.1
Flask-Bootstrap==3.3.2.1
Flask-WTF==0.11
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.2
Werkzeug==0.10.4
gunicorn==19.3.0
itsdangerous==0.24
mock==1.0.1
py==1.4.26
pytest==2.7.0
pytest-splinter==1.3.4
selenium==2.45.0
splinter==0.7.2
git+git://github.com/drewverlee/which_plates.git@v1.0.1

