{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Warm Up Calculator{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <form action="{{ url_for('index') }}" class="form form-horizontal" method="post" role="form">
    {{ wtf.quick_form(form) }}
  </form>

  {% if warm_up %}
    
    <ul class="list-group">
      {% for set, goal in warm_up %}
        <li class="list-group-item"> {{ set }} GOAL:{{ goal }}</li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}


