{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Warm Up Calculator{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <form action="{{ url_for('index') }}" class="form form-horizontal" method="post" role="form">
    {{ wtf.quick_form(form) }}
  </form>

  {% if warm_Up %}
    {% for set, goal in warm_up %}
      {{ set }} {{ goal }}
    {% endfor %}
  {% endif %}
{% endblock %}

